/* Default styling */
@font-face {
    font-family: "Fonts";
    src: url("../fonts/Kanit-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fonts", sans-serif;
}
body{
    background-color: #1f2122;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.main-content{
    background-color: #27292A;
    padding: 3rem;
    border-radius: 1rem;
}

/* Flex boxes */
.df_browse{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.df_browse2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.main_content_io_left{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.btn_df_pm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* End Flex boxes */
/* Navbar styling */
.navbar{
    padding: 1.5rem 1rem;
}
.content_nv{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    padding: 0 0.5rem;
}
.search{
    background-color: #27292a;
    padding: 0.8rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #666;
}
.search i{
    padding: 0 1rem;
}
.form-control{
    background-color: transparent;
    border: none;
    color: #666;
    width: 100%;
    font-size: 1.023rem;
}
.form-control:focus{
    outline: none;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links li{
    padding: 1rem;
    list-style: none;
    width: 25%;
}
.nav-links li a{
    color: #666;
    transition: all .4s ease-out;
}
.nav-links li a:hover{
    color: #e75e8d;
}
.btn_nv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #27292A;
    border-radius: 2rem;
    padding: 0 0.5rem;
    transition: all .4s ease-out;
    cursor: pointer;
}
.btn_nv a{
    color: #666;
    padding: 0.5rem;
}
.btn_nv:hover{
    background-color: #e75e8d;
}
.btn_nv:hover a{
    color: white;
}
.btn_nv img{
    padding: 0.5rem;
    border-radius: 50%;
}
.nav-links .active_link_nv{
    color: #e75e8d;
}
/* End Navbar styling */
/* Intro section styling */
.left_side_io{
    width: 70%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #1f2122
}
.left_side_io h1{
    color: #e75e8d;
    font-size: 2.5rem;
    padding: 0.5rem;
}
.left_side_io h1 span{
    color: white;
    text-decoration: underline;
}
/* .left_right_io i{
    color: #e75e8d;
    font-size: 1.2rem;
    cursor: pointer;
} */
.col_io{
    width: 33%;
    height: 100%;
    padding: 0.5rem;
    margin: 0 0.3rem;
}
.img_io{
    width: 100%;
    height: 70%;
    color: #e75e8d;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: all .4s ease;
    overflow: hidden;
}
.img_io p{
    background-color: #1f2122;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all .4s ease;
    transform: translateY(200%);
}
.img_io:hover p{
    transform: translateY(0%);
}
.img1_io{
    background-image: url("../imgs/featured-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img2_io{
    background-image: url("../imgs/featured-02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img3_io{
    background-image: url("../imgs/featured-03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.first_io{
    color: white;
}
.second_io{
    color: #666;
}

.star_io i{
    color: yellow;
    padding: 0 0.5rem;
}
.star_io{
    color: #fff;
}
.download i{
    color: #e75e8d;
    padding: 0 0.5rem;
}
.download{
    color: white;
}
.right_side_io{
    width: 40%;
    margin: 1rem;
    background-color: #1f2122;
    padding: 1rem;
    border-radius: 1rem;
 
}
.right_side_io h1{
    color: #e75e8d;
    font-size: 2.5rem;
    padding: 0.5rem;
}
.right_side_io h1 span{
    color: white;
    text-decoration: underline;
}
.row{
    padding: 1rem 0;
    margin: 1rem 0; 
    border-bottom: 1px solid #27292a;
}
.text_io{
    padding-top: 0.5rem;
}
.game_io{
    display: flex;
    justify-content: space-between;
   
}
.game_io img{
    padding: 0 0.5rem;
    border-radius: 2rem;
}
.btn_io{
    padding: 0.8rem 1rem;
    background-color: #27292A;
    border-radius: 50%;
}
.btn_io a{
    color: #444;
}
.end_io{
    width: 100%;
    text-align: center;
    padding: 1rem;
}
.end_io a{
    color: #e75e8d;
    font-size: 1.2rem;
}
/* End Intro section styling */
@media screen and (max-width: 1330px) {
    .main_content_io_left{
        display: block;
    }
    .col_io{
        width: 47%;
        float: left;
    }
    .main_content_io_left{
        overflow: hidden;
    }
    .btn_df_pm{
        display: block;
    }
}
/* Start stream section styling */
.start_stream{
    padding: 1rem;
    width: 100%;
}
.heading1_sm{
    color: #e75e8d;
    font-size: 2.5rem;
    padding: 2rem;
    text-align: center;
}
.heading1_sm span{
    color: white;
    text-decoration: underline;
}
.col_sm{
    padding: 1.5rem;
    border: 1px solid #444;
    margin: 0 0.5rem;
    border-radius: 2rem;
    width: 40%;
}
.img_sm img{
    border-radius: 50%;
    margin: 0.5rem 0;
}
.heading_sm{
    color: white;
    padding: 0.5rem 0;
}
.p_sm{
    color: #666666;
}
.btn_sm{
    padding: 0.5rem 2rem;
    width: max-content;
    margin: 2rem auto;
    background-color: #e75e8d;
    border-radius: 2rem;
    transition: all .4s ease;
}
.btn_sm a{
    color: #fff;
    transition: all .4s ease;
}
.btn_sm:hover{
    background-color: #fff;
}
.btn_sm:hover a{
    color: #e75e8d;
}
/* End Start stream section styling */
/* Most popular stream section styling */
.popular_stream{
    padding: 1rem;
    width: 100%;
    background-color: #1f2122;
    border-radius: 1rem;
}
.heading_pm{
    color: #e75e8d;
    font-size: 2.5rem;
    padding: 0.5rem;
}
.heading_pm span{
    color: white;
    text-decoration: underline;
}
.col_pm{
    margin: 0.5rem;
    width: 33%;
}
.img_pm{
    padding: 1rem;
    position: relative;
    height: 20rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: all .4s ease-in;
}
.img_pm p{
    padding: 0.3rem 1rem;
    background-color: #e75e8d;
    color: white;
    border-radius: 2rem;
    transition: all .4s ease;
    opacity: 0;
    margin: 0.5rem;
}
.img_pm:hover p{
    opacity: 1;
}
.first_btn_pm{
    position: absolute;
    top: 2rem;
    right: 1rem;
}
.img1_pm{
    background-image: url("../imgs/stream-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img2_pm{
    background-image: url("../imgs/stream-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img3_pm{
    background-image: url("../imgs/stream-03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img4_pm{
    background-image: url("../imgs/stream-04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text_pm{
    padding: 0.5rem;
    width: 100%;
}
.text_pm img{
    padding: 0.5rem;
    border-radius: 50%;
}
.text_pm h1{
    font-size: 1.2rem;
    color: white;
}
.text_pm i{
    color: #e75e8d;
    background-color: #fff;
    border-radius: 50%;
}
.text_pm p{
    color: #e75e8d;
}
.btn_pm{
    padding: 0.5rem 2rem;
    width: max-content;
    margin: 1rem auto;
    background-color: #e75e8d;
    border-radius: 2rem;
    transition: all .4s ease;
}
.btn_pm a{
    color: #fff;
    transition: all .4s ease;
}
.btn_pm:hover{
    background-color: #fff;
}
.btn_pm:hover a{
    color: #e75e8d;
}
/* End Most popular stream section styling */
/* Footer styling */
.footer{
    text-align: center;
    color: white;
    padding: 1rem 0;
}
.footer p{
    padding: 0.5rem;
}
/* End Footer styling */